<mat-card class="sign-up-card">
    <mat-card-header>
      <mat-card-title>{{title}}</mat-card-title>
    </mat-card-header> 
    <mat-card-content>
      <form [formGroup]="signUpForm" (ngSubmit)="onSignUp()">
        <mat-form-field appearance="fill" class="form-field">
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="email" />
            <mat-error *ngIf="signUpForm.controls['email'].hasError('required')">
              Email is required.
            </mat-error>
            <mat-error *ngIf="signUpForm.controls['email'].hasError('email') && !signUpForm.controls['email'].hasError('required')">
              Please enter a valid email address
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" />
          <mat-error *ngIf="signUpForm.controls['username'].invalid && (signUpForm.controls['username'].dirty || signUpForm.controls['username'].touched)">
            Username is required.
          </mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" [type]="hide ? 'password' : 'text'" />
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error *ngIf="signUpForm.controls['password'].invalid && (signUpForm.controls['password'].dirty || signUpForm.controls['password'].touched)">
            Password is required and must be at least 6 characters.
          </mat-error>
        </mat-form-field>
  
        <mat-form-field *ngIf="isAdmin" appearance="fill" class="form-field">
          <mat-label>Role</mat-label>
          <mat-select formControlName="role" [disabled]="!isAdmin">
            <mat-option value="user">User</mat-option>
            <mat-option value="superUser">Super User</mat-option>
            <mat-option value="admin">Admin</mat-option>
          </mat-select>
        </mat-form-field>
  
        <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  
        <button mat-raised-button type="submit" color="primary" class="submit-button" [disabled]="signUpForm.invalid" *ngIf="title == 'Sign Up'">Sign Up</button>
        <button mat-raised-button type="submit" color="primary" class="submit-button" [disabled]="signUpForm.invalid" *ngIf="title == 'Add User'">Add User</button>
      </form>
      <div class="login-link" *ngIf="title == 'Sign Up'">
        <p>Already have an account? <a href="/login">Login</a></p>
      </div>
    </mat-card-content>
  </mat-card>
  