<mat-card class="dashboard-card">
    <mat-card-content>
        <div class="graph-container">
            <mat-card class="graph-card">
                <mat-card-header>
                    <mat-card-title>Sales</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div>
                        <canvas id="myChart"></canvas>
                    </div>
                </mat-card-content>
            </mat-card>

            <mat-card class="graph-card">
                <mat-card-header>
                    <mat-card-title>New Users</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div>
                        <canvas id="myChart2"></canvas>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-card-content>
</mat-card>
