/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css'; 
@import 'sweetalert2/src/sweetalert2.scss';

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

mat-card {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1) !important;
    border-radius: 8px !important;
}

.modal-backdrop {
    display:  none;
}